h1{
    color:#192E41;
}
p{
    color: black;
}

.description {
    margin: 30px;
    padding-top: 10px;
    padding-left:80px;
    padding-right: 50px;
}

.portrait { 
    align-content: center;
    border: black 10px solid;
}
