

.header{
    color:black;
    align-self: center;
    order: 5;
    flex-direction: row;
    width: 50%;
    margin-left: 150px;
}


.body{
    margin: 10px;
    padding: 10px;
    display: flex;

}
.headshot {
    border-radius: 50%;
    border-style: groove;
    margin-left: 60px;
    margin-top: 50px;
    box-shadow: 2px 2px #CC3300;
    flex-direction:row;
}
